@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-FfcqhqpV_ULw: rgba(175, 47, 47, 0.15);
  --plasmic-token-header: var(--token-FfcqhqpV_ULw);
  --token-2i58EQFObil9: rgb(245, 245, 245);
  --plasmic-token-page-bg: var(--token-2i58EQFObil9);
  --token-6HAwY7xR4MhT: #ffffff;
  --plasmic-token-app-bg: var(--token-6HAwY7xR4MhT);
  --token-oH-FTXDKY1qU: rgb(230, 230, 230);
  --plasmic-token-unselected-chevron: var(--token-oH-FTXDKY1qU);
  --token-T_knhul_a-GR: rgb(230, 230, 230);
  --plasmic-token-input-placeholder: var(--token-T_knhul_a-GR);
  --token-wkMM2C3TCALt: rgb(119, 119, 119);
  --plasmic-token-footer-text: var(--token-wkMM2C3TCALt);
  --token-obfXpDosEvY3: rgb(34, 34, 34);
  --plasmic-token-app-bg-dark: var(--token-obfXpDosEvY3);
  --token-gE1tSSYyyqQ4: rgb(0, 0, 0);
  --plasmic-token-page-bg-dark: var(--token-gE1tSSYyyqQ4);
  --token-IgRw7kb0sD4U: rgb(113, 101, 101);
  --plasmic-token-header-dark: var(--token-IgRw7kb0sD4U);
  --token-sWGQ6A2aKJiX: rgb(230, 230, 230);
  --plasmic-token-border-gray-light: var(--token-sWGQ6A2aKJiX);
  --token-vTaimS1LwhYe: rgb(48, 48, 48);
  --plasmic-token-border-gray-light-dark: var(--token-vTaimS1LwhYe);
  --token-Jf7LweuxAbh6: rgb(83, 83, 83);
  --plasmic-token-task-text: var(--token-Jf7LweuxAbh6);
  --token-QQNmeeWJH_Ff: rgb(234, 234, 234);
  --plasmic-token-task-text-dark: var(--token-QQNmeeWJH_Ff);
  --token-4JrUorh4l9qQ: rgb(230, 230, 230);
  --plasmic-token-task-text-dim: var(--token-4JrUorh4l9qQ);
  --token-ly09ev_-vmG4: rgb(79, 79, 79);
  --plasmic-token-task-text-dim-dark: var(--token-ly09ev_-vmG4);
  --token-iHEtkuLHint_: rgb(230, 230, 230);
  --plasmic-token-placeholder: var(--token-iHEtkuLHint_);
  --token-dZvw4UGjsyDB: rgb(79, 79, 79);
  --plasmic-token-placeholder-dark: var(--token-dZvw4UGjsyDB);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_theme_dark) {
  --mixin-DOCIciHMgngu_font-family: "Roboto", sans-serif;
  --mixin-DOCIciHMgngu_font-size: 14px;
  --mixin-DOCIciHMgngu_font-weight: normal;
  --mixin-DOCIciHMgngu_font-style: normal;
  --mixin-DOCIciHMgngu_color: #535353;
  --mixin-DOCIciHMgngu_text-align: left;
  --mixin-DOCIciHMgngu_text-transform: none;
  --mixin-DOCIciHMgngu_line-height: 1.5;
  --mixin-DOCIciHMgngu_letter-spacing: normal;
  --mixin-DOCIciHMgngu_white-space: pre-wrap;
  --mixin-Z_vYkenGh4Km_font-family: "Inter", sans-serif;
  --mixin-Z_vYkenGh4Km_color: #000000;
  --mixin-Z_vYkenGh4Km_font-size: 72px;
  --mixin-Z_vYkenGh4Km_font-weight: 900;
  --mixin-Z_vYkenGh4Km_letter-spacing: -4px;
  --mixin-Z_vYkenGh4Km_line-height: 1;
  --mixin-Z_vYkenGh4Km_white-space: pre-wrap;
  --mixin-vTGQSu3tdc9Z_font-family: "Inter", sans-serif;
  --mixin-vTGQSu3tdc9Z_color: #000000;
  --mixin-vTGQSu3tdc9Z_font-size: 48px;
  --mixin-vTGQSu3tdc9Z_font-weight: 700;
  --mixin-vTGQSu3tdc9Z_letter-spacing: -1px;
  --mixin-vTGQSu3tdc9Z_line-height: 1.1;
  --mixin-vTGQSu3tdc9Z_white-space: pre-wrap;
  --mixin-fAeIyL_3l0-b_font-family: "Inter", sans-serif;
  --mixin-fAeIyL_3l0-b_color: #000000;
  --mixin-fAeIyL_3l0-b_font-size: 32px;
  --mixin-fAeIyL_3l0-b_font-weight: 600;
  --mixin-fAeIyL_3l0-b_letter-spacing: -0.8px;
  --mixin-fAeIyL_3l0-b_line-height: 1.2;
  --mixin-fAeIyL_3l0-b_white-space: pre-wrap;
  --mixin-vGT-ikrqfq-E_font-family: "Inter", sans-serif;
  --mixin-vGT-ikrqfq-E_color: #000000;
  --mixin-vGT-ikrqfq-E_font-size: 24px;
  --mixin-vGT-ikrqfq-E_font-weight: 600;
  --mixin-vGT-ikrqfq-E_letter-spacing: -0.5px;
  --mixin-vGT-ikrqfq-E_line-height: 1.3;
  --mixin-vGT-ikrqfq-E_white-space: pre-wrap;
  --mixin-jddQImC1byCx_font-family: "Inter", sans-serif;
  --mixin-jddQImC1byCx_color: #000000;
  --mixin-jddQImC1byCx_font-size: 20px;
  --mixin-jddQImC1byCx_font-weight: 600;
  --mixin-jddQImC1byCx_letter-spacing: -0.3px;
  --mixin-jddQImC1byCx_line-height: 1.5;
  --mixin-jddQImC1byCx_white-space: pre-wrap;
  --mixin-epdlPYQbExWS_font-family: "Inter", sans-serif;
  --mixin-epdlPYQbExWS_color: #000000;
  --mixin-epdlPYQbExWS_font-size: 16px;
  --mixin-epdlPYQbExWS_font-weight: 600;
  --mixin-epdlPYQbExWS_line-height: 1.5;
  --mixin-epdlPYQbExWS_white-space: pre-wrap;
  --mixin-chUHpqH-m7nm_color: #0070f3;
  --mixin-chUHpqH-m7nm_white-space: pre-wrap;
  --mixin-j80mlYfpj8fp_color: #3291ff;
  --mixin-j80mlYfpj8fp_white-space: pre-wrap;
  --mixin-lRGDtGwkSNiN_border-left-color: #dddddd;
  --mixin-lRGDtGwkSNiN_border-left-style: solid;
  --mixin-lRGDtGwkSNiN_border-left-width: 3px;
  --mixin-lRGDtGwkSNiN_color: #888888;
  --mixin-lRGDtGwkSNiN_padding-left: 10px;
  --mixin-lRGDtGwkSNiN_white-space: pre-wrap;
  --mixin-1uy0oHiT_oyy_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-1uy0oHiT_oyy_border-bottom-color: #dddddd;
  --mixin-1uy0oHiT_oyy_border-bottom-style: solid;
  --mixin-1uy0oHiT_oyy_border-bottom-width: 1px;
  --mixin-1uy0oHiT_oyy_border-left-color: #dddddd;
  --mixin-1uy0oHiT_oyy_border-left-style: solid;
  --mixin-1uy0oHiT_oyy_border-left-width: 1px;
  --mixin-1uy0oHiT_oyy_border-right-color: #dddddd;
  --mixin-1uy0oHiT_oyy_border-right-style: solid;
  --mixin-1uy0oHiT_oyy_border-right-width: 1px;
  --mixin-1uy0oHiT_oyy_border-top-color: #dddddd;
  --mixin-1uy0oHiT_oyy_border-top-style: solid;
  --mixin-1uy0oHiT_oyy_border-top-width: 1px;
  --mixin-1uy0oHiT_oyy_border-bottom-left-radius: 3px;
  --mixin-1uy0oHiT_oyy_border-bottom-right-radius: 3px;
  --mixin-1uy0oHiT_oyy_border-top-left-radius: 3px;
  --mixin-1uy0oHiT_oyy_border-top-right-radius: 3px;
  --mixin-1uy0oHiT_oyy_font-family: "Inconsolata";
  --mixin-1uy0oHiT_oyy_padding-bottom: 1px;
  --mixin-1uy0oHiT_oyy_padding-left: 4px;
  --mixin-1uy0oHiT_oyy_padding-right: 4px;
  --mixin-1uy0oHiT_oyy_padding-top: 1px;
  --mixin-1uy0oHiT_oyy_white-space: pre-wrap;
  --mixin-QuISvHgufpN7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-QuISvHgufpN7_border-bottom-color: #dddddd;
  --mixin-QuISvHgufpN7_border-bottom-style: solid;
  --mixin-QuISvHgufpN7_border-bottom-width: 1px;
  --mixin-QuISvHgufpN7_border-left-color: #dddddd;
  --mixin-QuISvHgufpN7_border-left-style: solid;
  --mixin-QuISvHgufpN7_border-left-width: 1px;
  --mixin-QuISvHgufpN7_border-right-color: #dddddd;
  --mixin-QuISvHgufpN7_border-right-style: solid;
  --mixin-QuISvHgufpN7_border-right-width: 1px;
  --mixin-QuISvHgufpN7_border-top-color: #dddddd;
  --mixin-QuISvHgufpN7_border-top-style: solid;
  --mixin-QuISvHgufpN7_border-top-width: 1px;
  --mixin-QuISvHgufpN7_border-bottom-left-radius: 3px;
  --mixin-QuISvHgufpN7_border-bottom-right-radius: 3px;
  --mixin-QuISvHgufpN7_border-top-left-radius: 3px;
  --mixin-QuISvHgufpN7_border-top-right-radius: 3px;
  --mixin-QuISvHgufpN7_font-family: "Inconsolata";
  --mixin-QuISvHgufpN7_padding-bottom: 3px;
  --mixin-QuISvHgufpN7_padding-left: 6px;
  --mixin-QuISvHgufpN7_padding-right: 6px;
  --mixin-QuISvHgufpN7_padding-top: 3px;
  --mixin-QuISvHgufpN7_white-space: pre-wrap;
  --mixin-ggpZyFjZuw2P_display: flex;
  --mixin-ggpZyFjZuw2P_flex-direction: column;
  --mixin-ggpZyFjZuw2P_align-items: stretch;
  --mixin-ggpZyFjZuw2P_justify-content: flex-start;
  --mixin-ggpZyFjZuw2P_list-style-position: outside;
  --mixin-ggpZyFjZuw2P_padding-left: 40px;
  --mixin-ggpZyFjZuw2P_position: relative;
  --mixin-ggpZyFjZuw2P_list-style-type: decimal;
  --mixin-ggpZyFjZuw2P_white-space: pre-wrap;
  --mixin-CXrsfQ9-AsFg_display: flex;
  --mixin-CXrsfQ9-AsFg_flex-direction: column;
  --mixin-CXrsfQ9-AsFg_align-items: stretch;
  --mixin-CXrsfQ9-AsFg_justify-content: flex-start;
  --mixin-CXrsfQ9-AsFg_list-style-position: outside;
  --mixin-CXrsfQ9-AsFg_padding-left: 40px;
  --mixin-CXrsfQ9-AsFg_position: relative;
  --mixin-CXrsfQ9-AsFg_list-style-type: disc;
  --mixin-CXrsfQ9-AsFg_white-space: pre-wrap;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_theme_dark) {
  --mixin-fD7rmGNRdql6_box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-fD7rmGNRdql6_box-shadow);
  --mixin-fD7rmGNRdql6_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-fD7rmGNRdql6_white-space
  );
  --mixin-6Z0YUwftzYpb_box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  --plasmic-mixin-app-shadow_box-shadow: var(--mixin-6Z0YUwftzYpb_box-shadow);
  --mixin-6Z0YUwftzYpb_white-space: pre-wrap;
  --plasmic-mixin-app-shadow_white-space: var(--mixin-6Z0YUwftzYpb_white-space);
  --mixin-TD4OU0hFjm3F_box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  --plasmic-mixin-card-shadow-dark_box-shadow: var(
    --mixin-TD4OU0hFjm3F_box-shadow
  );
  --mixin-TD4OU0hFjm3F_white-space: pre-wrap;
  --plasmic-mixin-card-shadow-dark_white-space: var(
    --mixin-TD4OU0hFjm3F_white-space
  );
  --mixin-3b-9zhZDEjfl_box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.3);
  --plasmic-mixin-app-shadow-dark_box-shadow: var(
    --mixin-3b-9zhZDEjfl_box-shadow
  );
  --mixin-3b-9zhZDEjfl_white-space: pre-wrap;
  --plasmic-mixin-app-shadow-dark_white-space: var(
    --mixin-3b-9zhZDEjfl_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-DOCIciHMgngu_font-family);
  font-size: var(--mixin-DOCIciHMgngu_font-size);
  font-weight: var(--mixin-DOCIciHMgngu_font-weight);
  font-style: var(--mixin-DOCIciHMgngu_font-style);
  color: var(--mixin-DOCIciHMgngu_color);
  text-align: var(--mixin-DOCIciHMgngu_text-align);
  text-transform: var(--mixin-DOCIciHMgngu_text-transform);
  line-height: var(--mixin-DOCIciHMgngu_line-height);
  letter-spacing: var(--mixin-DOCIciHMgngu_letter-spacing);
  white-space: var(--mixin-DOCIciHMgngu_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-Z_vYkenGh4Km_font-family);
  color: var(--mixin-Z_vYkenGh4Km_color);
  font-size: var(--mixin-Z_vYkenGh4Km_font-size);
  font-weight: var(--mixin-Z_vYkenGh4Km_font-weight);
  letter-spacing: var(--mixin-Z_vYkenGh4Km_letter-spacing);
  line-height: var(--mixin-Z_vYkenGh4Km_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-vTGQSu3tdc9Z_font-family);
  color: var(--mixin-vTGQSu3tdc9Z_color);
  font-size: var(--mixin-vTGQSu3tdc9Z_font-size);
  font-weight: var(--mixin-vTGQSu3tdc9Z_font-weight);
  letter-spacing: var(--mixin-vTGQSu3tdc9Z_letter-spacing);
  line-height: var(--mixin-vTGQSu3tdc9Z_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-fAeIyL_3l0-b_font-family);
  color: var(--mixin-fAeIyL_3l0-b_color);
  font-size: var(--mixin-fAeIyL_3l0-b_font-size);
  font-weight: var(--mixin-fAeIyL_3l0-b_font-weight);
  letter-spacing: var(--mixin-fAeIyL_3l0-b_letter-spacing);
  line-height: var(--mixin-fAeIyL_3l0-b_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-vGT-ikrqfq-E_font-family);
  color: var(--mixin-vGT-ikrqfq-E_color);
  font-size: var(--mixin-vGT-ikrqfq-E_font-size);
  font-weight: var(--mixin-vGT-ikrqfq-E_font-weight);
  letter-spacing: var(--mixin-vGT-ikrqfq-E_letter-spacing);
  line-height: var(--mixin-vGT-ikrqfq-E_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-jddQImC1byCx_font-family);
  color: var(--mixin-jddQImC1byCx_color);
  font-size: var(--mixin-jddQImC1byCx_font-size);
  font-weight: var(--mixin-jddQImC1byCx_font-weight);
  letter-spacing: var(--mixin-jddQImC1byCx_letter-spacing);
  line-height: var(--mixin-jddQImC1byCx_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-epdlPYQbExWS_font-family);
  color: var(--mixin-epdlPYQbExWS_color);
  font-size: var(--mixin-epdlPYQbExWS_font-size);
  font-weight: var(--mixin-epdlPYQbExWS_font-weight);
  line-height: var(--mixin-epdlPYQbExWS_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-chUHpqH-m7nm_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-j80mlYfpj8fp_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-lRGDtGwkSNiN_color);
  padding-left: var(--mixin-lRGDtGwkSNiN_padding-left);
  border-left: var(--mixin-lRGDtGwkSNiN_border-left-width)
    var(--mixin-lRGDtGwkSNiN_border-left-style)
    var(--mixin-lRGDtGwkSNiN_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-1uy0oHiT_oyy_font-family);
  border-radius: var(--mixin-1uy0oHiT_oyy_border-top-left-radius)
    var(--mixin-1uy0oHiT_oyy_border-top-right-radius)
    var(--mixin-1uy0oHiT_oyy_border-bottom-right-radius)
    var(--mixin-1uy0oHiT_oyy_border-bottom-left-radius);
  padding: var(--mixin-1uy0oHiT_oyy_padding-top)
    var(--mixin-1uy0oHiT_oyy_padding-right)
    var(--mixin-1uy0oHiT_oyy_padding-bottom)
    var(--mixin-1uy0oHiT_oyy_padding-left);
  border-top: var(--mixin-1uy0oHiT_oyy_border-top-width)
    var(--mixin-1uy0oHiT_oyy_border-top-style)
    var(--mixin-1uy0oHiT_oyy_border-top-color);
  border-right: var(--mixin-1uy0oHiT_oyy_border-right-width)
    var(--mixin-1uy0oHiT_oyy_border-right-style)
    var(--mixin-1uy0oHiT_oyy_border-right-color);
  border-bottom: var(--mixin-1uy0oHiT_oyy_border-bottom-width)
    var(--mixin-1uy0oHiT_oyy_border-bottom-style)
    var(--mixin-1uy0oHiT_oyy_border-bottom-color);
  border-left: var(--mixin-1uy0oHiT_oyy_border-left-width)
    var(--mixin-1uy0oHiT_oyy_border-left-style)
    var(--mixin-1uy0oHiT_oyy_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-QuISvHgufpN7_font-family);
  border-radius: var(--mixin-QuISvHgufpN7_border-top-left-radius)
    var(--mixin-QuISvHgufpN7_border-top-right-radius)
    var(--mixin-QuISvHgufpN7_border-bottom-right-radius)
    var(--mixin-QuISvHgufpN7_border-bottom-left-radius);
  padding: var(--mixin-QuISvHgufpN7_padding-top)
    var(--mixin-QuISvHgufpN7_padding-right)
    var(--mixin-QuISvHgufpN7_padding-bottom)
    var(--mixin-QuISvHgufpN7_padding-left);
  border-top: var(--mixin-QuISvHgufpN7_border-top-width)
    var(--mixin-QuISvHgufpN7_border-top-style)
    var(--mixin-QuISvHgufpN7_border-top-color);
  border-right: var(--mixin-QuISvHgufpN7_border-right-width)
    var(--mixin-QuISvHgufpN7_border-right-style)
    var(--mixin-QuISvHgufpN7_border-right-color);
  border-bottom: var(--mixin-QuISvHgufpN7_border-bottom-width)
    var(--mixin-QuISvHgufpN7_border-bottom-style)
    var(--mixin-QuISvHgufpN7_border-bottom-color);
  border-left: var(--mixin-QuISvHgufpN7_border-left-width)
    var(--mixin-QuISvHgufpN7_border-left-style)
    var(--mixin-QuISvHgufpN7_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ggpZyFjZuw2P_display);
  flex-direction: var(--mixin-ggpZyFjZuw2P_flex-direction);
  align-items: var(--mixin-ggpZyFjZuw2P_align-items);
  justify-content: var(--mixin-ggpZyFjZuw2P_justify-content);
  list-style-position: var(--mixin-ggpZyFjZuw2P_list-style-position);
  padding-left: var(--mixin-ggpZyFjZuw2P_padding-left);
  position: var(--mixin-ggpZyFjZuw2P_position);
  list-style-type: var(--mixin-ggpZyFjZuw2P_list-style-type);
  flex-column-gap: var(--mixin-ggpZyFjZuw2P_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-CXrsfQ9-AsFg_display);
  flex-direction: var(--mixin-CXrsfQ9-AsFg_flex-direction);
  align-items: var(--mixin-CXrsfQ9-AsFg_align-items);
  justify-content: var(--mixin-CXrsfQ9-AsFg_justify-content);
  list-style-position: var(--mixin-CXrsfQ9-AsFg_list-style-position);
  padding-left: var(--mixin-CXrsfQ9-AsFg_padding-left);
  position: var(--mixin-CXrsfQ9-AsFg_position);
  list-style-type: var(--mixin-CXrsfQ9-AsFg_list-style-type);
  flex-column-gap: var(--mixin-CXrsfQ9-AsFg_flex-column-gap);
}
